body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.tab-container {
    display: flex;
    
    border-bottom: 2px solid white;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid white;
    border-bottom: none;
    background-color: rgb(210, 210, 210);
    margin-right: 5px;
}
.tab.active {
    background-color: white;
    border-top: 2px solid black;
}
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid white;
    margin-top: -1px;
}
.tab-content.active {
    display: block;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: white;
}
#lockAndPairButton {
    background-color: #f0a7a7;
    border-radius: 5px;
}
.button-container {
    float: right;
}
.button-container button {
    margin-left: 10px;
}




.locked {
opacity: 0.5;
pointer-events: none;
}
.round-container {
    margin-top: 20px;
}
.round-tab {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid white;
    border-bottom: none;
    background-color: rgb(210, 210, 210);
    margin-right: 5px;
    display: inline-block;
}
.round-tab.active {
    background-color: white;
    border-top: 2px solid black;
}
.round-content {
    display: none;
    padding: 20px;
    border: 1px solid white
}
.round-content.active {
    display: block;
}

/* Apply fixed width ONLY to the table inside tab3 */
#tab3 table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    table-layout: fixed; /* Ensures uniform column width */
}

#tab3 th, #tab3 td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 70px; /* Set a fixed width for all columns */
}

#tab3 th {
    background-color: white;
}

#tab3 td.empty {
    background-color: white;
}

/* Apply fixed width ONLY to the table inside tab4 */

#tab4 table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
    /*table-layout: fixed; /* Ensures uniform column width */
}

footer {
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 0;
    width: 90%;
    background-color: white;
    border-top: 2px solid black;
}

.fb-button {
    display: inline-block;
    background-color: #1877F2; /* Facebook blue */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


/* Mobile optimization */
@media (max-width: 480px) {
    .button-container {
        text-align: right;
        margin-top: 10px;
    }
    .button-container button {
        width: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 6px 24px;
    }
    #AddPlayer {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 4px 24px;
    }
}